<mat-card>
  <mat-card-title *ngIf="!registrationForm; else registerTitle">Logowanie</mat-card-title>
  <ng-template #registerTitle><mat-card-title>Rejestracja</mat-card-title></ng-template>
  <mat-card-content>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" #formDirective="ngForm" >
      <ng-container *ngFor="let formElement of formElements">
        <p>
          <mat-form-field>
            <input [type]="formElement.inputType" matInput [placeholder]="formElement.inputPlaceholder"
              [formControlName]="formElement.formControlName" required>
            <mat-error *ngIf="formControlError(formElement.formControlName)">
              {{getErrorMessage(formElement.formControlName)}}</mat-error>
          </mat-form-field>
        </p>
      </ng-container>
      <ng-template [ngIf]="!registrationForm" [ngIfElse]="registration">
        <button type="submit" mat-raised-button color="accent" [disabled]="!registrationForm && formGroup.invalid">Zaloguj się</button>
        <button mat-button type="reset" color="accent" (click)="registrationToggle($event, true)">Rejestracja</button>
      </ng-template>
      <ng-template #registration>
        <button type="submit" mat-raised-button color="accent" [disabled]="registrationForm && formGroup.invalid" >Zarejestruj się</button>
        <button mat-button type="reset" color="accent" (click)="registrationToggle($event, false)">Wróć do logowania</button>
      </ng-template>
    </form>
  </mat-card-content>
</mat-card>
